extends ../node_modules/jade-bootstrap/_bootstrap.jade
append body 
	.container
		+navbar("Try-2-Learn","dropdown_menu")
			+nav_item("/","active") Home
			+nav_item("/about") About
			+nav_item("/contact") Contact
	.container
		h2 Language
		p #{lang}
		h2 Executed code
		textarea(name="description" id="description", cols="40", rows="11").
			!{code}
		h2 Output
		pre #{data}
		h2 Build log
		pre #{build}

		link(rel="stylesheet" href="lib/codemirror.css")
		script(src="lib/codemirror.js")
		script(src="mode/python.js")
		script.		
			var textArea = document.getElementById('description');
			var editor = CodeMirror.fromTextArea(textArea,{
				lineNumbers: true,
				styleActiveLine: true,
				matchBrackets: true,
				readOnly: true,
				mode: 'python'
			});    
