extends ../node_modules/jade-bootstrap/_bootstrap.jade
append body 
	.container
		+navbar("Try-2-Learn","dropdown_menu")
			+nav_item("/","active") Home
			+nav_item("/about") About
			+nav_item("/contact") Contact
	.container
		form(name="compile", method="post",action="/compiled")
			div.input
			h3 Select language
			select(name="language" onChange="setTemplate(this);")
				each lang, i in langs
					option(value=i) #{lang}
			br
			h3 Select RAM
			select(name="ram")
				option(value=128) 128MB
				option(value=256) 256MB
				option(value=512) 512MB
			br
			h3 Write code
			textarea(name="description" id="description", cols="40", rows="11").
				if __name__ == "__main__":
				    print "hello world!"
			script.
				python = 'if __name__ == "__main__":\n    print "Hello world"';
				python3 = 'print "Hello world"';
				ruby = 'puts "hello world!"';
				cpp = '#include <iostream>\nusing namespace std;\nint main(){\n   cout << "hello world!" << endl;\n}';
				function setTemplate(t) {
				var optionValue = t.value;
				if (optionValue == "0") {
				document.getElementById('description').innerHTML = python;
				} else if (optionValue == "1")
				document.getElementById('description').innerHTML = python3;
				else if (optionValue == "2")
				document.getElementById('description').innerHTML = ruby;
				else if (optionValue == "3")
				document.getElementById('description').innerHTML = cpp;
				}; 
			div.actions
			input(type="submit", value="Run Code")


