extends ../node_modules/jade-bootstrap/_bootstrap.jade
append body 
	.container
		+navbar("Try-2-Learn","dropdown_menu")
			+nav_item("/","active") Home
			+nav_item("/about") About
			+nav_item("/contact") Contact
	.container
		form(name="compile", method="post",action="/compiled")
			div.input
			h3 Select language
			select(name="language")
				each lang, i in langs
					option(value=i) #{lang}
			br
			h3 Write code
			textarea(name="description", cols="40", rows="11").
				def fib(n):
					if n == 0:
						return 0
					elif n == 1:
						return 1
					else:
						return fib(n-1) + fib(n-2)
				if __name__ == "__main__":
					for i in range(10):
						print fib(i)
			div.actions
			input(type="submit", value="Run Code")
