extends ../node_modules/jade-bootstrap/_bootstrap.jade
append body 
	.container
		+navbar("Try-2-Learn","dropdown_menu")
			+nav_item("/","active") Home
			+nav_item("/about") About
			+nav_item("/contact") Contact
	.container
		h2 Language
		p #{lang}
		h2 Executed code
		pre !{code.replace(/\n/g, '<br/>').replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;')}
		h2 Output
		pre #{data}
